
/* Primary Colors */
$primary:  #1DB9B4   ;
$l_primary: #149C97  ;
$d_primary:  #0C7470 ;
$secondary:  #0579C7 ;
$d_secondary: #025F9D;

/* Accent */
$accent: #FF4349;
$l_accent: #C63D3C;
$d_accent: #9d2f2e;
$accent_secondary: #FEB73F;

/* Neutral */
$black: #000;
$white: #fff;
$grey-dark_0: #2D2D2D;
$grey-dark_1: #212121;
$bg-layout: #F9FBFF;
$neutral_0: #F0F3F8;
$neutral_1: #D9E2ED;
$neutral_2: #9EB3C7;
$neutral_3: #819AB0;
$bg_component: #EDF1F9;
$border: #D9E2EE;

/* Texts */
$text: #525252;
$text-dark: #414544;
$text-light-gray: #adadad;
$text-gray: #888888;

$text-title: #243953;
$text-heading: #112B43;
$text-heading-l: #617D97;
$text-medium: #334E67;
$text-light: #476581;

/* Shadows */
$gray-shadow: rgba(123,123,123, .1);
$light-hover: rgba(217,226,238, .6);
$dark-hover: rgba(202,212,226, .9);

/* Warnings */
$bg-warning: #fffcf4;
$title-warning: #5c4919;
$text-warning: #8c6d28;
$warning: #caa648;
$l_warning: #fdf4d8;
$base_warning: #f5cb6d;
$border_warning: #fae3a4;

/* Forms */
$input-border: #BBCCDC;
$error-text: #F37E73;
$success-text: #73C11E;

/* Components */
$light-pink: #fce0d2; //hero
