.accordion {
    color: $l_primary;
    background-color: $white;
    border-radius: $s-ss;
    padding: $s-ss;
    margin-bottom: 6px;
    @include box-shadow(0, 2px, 13px, 0, $light-hover);

    div:first-child {
        position: relative;

        h2, h3, h4 {
            font-weight: 400;
            color: $text;
        }

        [class*="icon-"] {
            color: $text-light-gray;
            font-weight: 600;
            position: absolute;
            right: 0;
            top: 50%;
            @include prefix('transition', '.5s ease-in-out');
            @include prefix('transform', 'translateY(-50%)');
            &.isRotated {
                @include prefix('transform', 'rotate(180deg)');
                top: 0!important;
            }
        }
    }

    ul {
        font-weight: 300;
        height: 0;
        overflow: hidden;
        li:not(:last-child) {margin: 0 0 $s-l 0;}

        &.isDisplayed {
            margin: $s-l 0 $s-s;
            height: auto;
        }
    }

    &.only-mobile {
        @include media(tablet) {
            box-shadow: none;
            text-align: left;
            padding: 0;
            margin-bottom: $s-xxl;
            [class*="icon-"] {display: none;}

            h2, h3, h4 {font-size: $f-sl;}

            ul {
                height: auto;
                margin: $s-l 0 $s-s;
                li a {font-size: $f-l;}
            }
        }
    }
}