.breadcrumb {
    font-weight: 300;
    color: $text-light;
    padding: $s-m;

    @include media(tablet) {
        background-color: $neutral_0;
    }

    ul {
        .active {font-weight: 600;}
        span {margin: 0 2px;}
        li, a, span {
            font-size: 13px;
            color: $text-light;
            display: inline;
            @include media(tablet){
                font-size: $f-s;
            }
        }

        @include media(tablet) {
            li:not(.active):hover {text-decoration: underline;}
        }
    }
}