.calendar-box{
    .availability-summary{
        position: relative;
    }
    .top-box{
        border-bottom: 1px solid $border;
        position: relative;
        .button-transparent{
            @include media(tablet) {
                position: absolute;
                right: $s-ml;
                top: $s-xll; 
            }
        }
    }
    .w-100{
        border-top: 1px solid $border;
        text-align: center;
        button{
            margin: 0 auto;
        }
    }
    &.openings-box{
       .top-box{
           padding: $s-m;
            h4{
                font-weight: 400;
                font-size: $f-s;
            }
            .button-transparent{
                font-weight: 400;
                font-size: $f-s;
            }
       }
       .days{
            background-color: $neutral_0;
            padding-top: 40px;
            width: 48px;
            span{
                display: block;
                text-align: center;
                font-weight: 600;
                padding: $s-s;
                width: 100%;
            }
       }
       .dates{
            text-align: center;
            width: calc(50% - 24px);
            .head{
                font-size: $f-xs;
                color: $text-gray;
                margin: $s-m  0 $s-s 0;
                img{
                    display: inline-block;
                    height: 13px;
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
            .hour{
                line-height: 35px;
            }
            .closed{
                color: $neutral_2;
            }
       } 
    }
}
.ie-availability{
    &-nav{
        position: absolute;
        top: -3px;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
        &:first-of-type{
            left: 10px;
        }
        &:last-of-type{
            right: 10px;
        }
        span{
            display: block;
            width: 25px;
            height: 25px;
            font-size: 1.5rem;
            text-align: center;
            color: $primary;
            background-color: $white;
            border: 1px solid $primary;
            border-radius: 100%;
            &:hover{
                color: $white;
                background-color: $primary;
            }
        }
        .icon-arrow-right{
            padding: 2px 0 0 2px;
        }
        .icon-arrow-left{
            padding: 2px 0 0 0;
        }
        &_weekly{
            top: 0;
            padding: 6px 10px;
            &:first-of-type{
                left: -6px;
            }
            &:last-of-type{
                right: -6px;
            }
        }
    }
    &-summary{
        position: relative;
        &-content{
            position: relative;
            padding: 0 40px 15px;
            @include clearfix();
            & > .ie-loader{
                padding: 30px 0 0;
            }
        }
        &-item{
            position: relative;
            z-index: 2;
            float: left;
            width: 25%;
            padding: 0 3%;
            margin-bottom: 5px;
            box-sizing: border-box;
            &-title{
                text-align: center;
                line-height: 1.3;
                margin: 0 0 20px;
            }
            &-weekday,
            &-day{
                display: block;
                color: $text-heading;
            }
            &-weekday{
                font-size: .9rem;
                margin-bottom: 5px;
            }
            &-day{
                font-size: 1.1rem;
                font-weight: 600;
                text-transform: uppercase;
            }
            &-hour{
                min-height: 38px;
                font-size: 1.1rem;
                text-align: center;
                color: $primary;
                background-color: $white;
                border: 1px solid $primary;
                border-radius: 3px;
                padding: 9px 0 0;
                &:not(:last-of-type){
                    margin-bottom: 8px;
                }
                &.isBusy{
                    color: $neutral_2;
                    border: 1px solid $border;
                }
                &:not(.isBusy){
                    cursor: pointer;
                    &:hover{
                        color: $white;
                        background-color: $primary;
                    }
                }
            }
        }
        &-more{
            text-align: center;
            padding: 5px 0 25px;
        }
    }
    &-week{
        position: relative;
        padding: 0 28px 0;
        margin: 40px 8% 40px 12%;
        &-content{
            position: relative;
            @include clearfix();
            & > .ie-loader{
                padding: 30px 0 0;
            }
        }
        &-item{
            position: relative;
            z-index: 2;
            float: left;
            width: 10.7%;
            margin: 0 1.78%;
            box-sizing: border-box;
            &-title{
                text-align: center;
                line-height: 1.3;
                margin: 0 0 20px;
            }
            &-weekday,
            &-day{
                display: block;
                color: $text-heading;
            }
            &-weekday{
                font-size: .9rem;
                margin-bottom: 5px;
            }
            &-day{
                font-size: 1.1rem;
                font-weight: 600;
                text-transform: uppercase;
            }
            &-hour{
                position: absolute;
                top: 58px;
                width: 100%;
                height: 38px;
                font-size: 1.1rem;
                text-align: center;
                color: $primary;
                background-color: $white;
                border: 1px solid $primary;
                border-radius: 3px;
                padding: 9px 0 0;
                transition: .2s all ease-in-out;
                &.isBusy{
                    color: $neutral_2;
                    border: 1px solid $border;
                }
                &:not(.isBusy){
                    cursor: pointer;
                    &:hover{
                        color: $white;
                        background-color: $primary;
                    }
                }
            }
        }
        &-labels{
            position: absolute;
            width: 45px;
            height: 100%;
            top: 48px;
            left: -53px;
            span{
                display: block;
                font-size: 1rem;
                color: $text-heading;
                margin-bottom: 55.7px;
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
    &-alert{
        line-height: 1.4;
        text-align: center;
        padding: 25px 25px 30px !important;
        &-icon{
            font-size: 3.3rem;
            color: $text-heading;
        }
        &-text{
            display: block;
            font-size: 1.1rem;
            color: $text-heading;
            margin: 17px 0;
        }
        &-link{
            display: block;
            font-weight: 500;
            font-size: 1.1rem;
        }
    }
    &-phone{
        @include flexbox();
        padding: 23px 38px;
        border-bottom: 1px solid $border;
        &-num{
            font-size: 1.7rem;
            margin-right: 20px;
        }
        &-info{
            position: relative;
            top: -2px;
            color: $text_light;
            padding: 7px 10px 5px;
            border-radius: 3px;
            background-color: $l_warning;
            border: 1px solid #000;
            &:before{
                position: absolute;
                left: -6px;
                top: 10px;
                content: '';
                width: 12px;
                height: 12px;
                background-color: $l_warning;
                border-bottom: 1px solid#000;
                border-left: 1px solid #000;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-radius: 0 0 0 2px;
            }
        }
    }
    &-next{
        padding: 20px 38px 30px;
        border-bottom: 1px solid $border;
        &-cal{
            max-width: 450px;
            margin: 20px auto 0;
            @include flexbox();
            @include justify-content(space-around);
            &-label{
                display: block;
                font-size: 1rem;
                font-weight: 600;
                text-align: center;
                color: $text_light;
                margin: 0 0 5px;
            }
            &-hours{
                padding: 5px 14px 10px;
            }
            &-hour{
                display: block;
                min-width: 60px;
                color: $primary;
                text-align: center;
                line-height: 1;
                padding: 7px 5px;
                background-color: $white;
                border: 1px solid $primary;
                border-radius: 3px;
                margin-bottom: 3px;
                transition: .2s all ease-in-out;
                &:not(.dots) {
                    cursor: pointer;
                    &:hover{
                        color: $white;
                        background-color: $primary;
                    }
                }
                &.dots{
                    padding: 0;
                    border: 0;
                    background-color: transparent;
                }
            }
        }
    }
    &-ask{
        padding: 20px 38px 45px;
        &-area{
            padding: 15px;
            border: 1px solid $border;
            border-radius: 3px;
            cursor: text;
        }
    }
}
.ie-timezone{
    text-align: center;
    line-height: 1.5;
    padding: 10px 20px;
    margin: 0 20px 20px;
    border: 1px solid #FECE3E;
}