.card {
    text-align: left;
    background-color: $white;

    h2, h3, h4 {
        a {
            color: $text-heading;
            font-weight: 600;
            @include media(tablet) { &:hover {text-decoration: underline;} }
        }
    }

    .info {
        font-weight: 300;
        max-width: 90%;
        @include ellipsis-multiline(12, 1.3, 1, 0);
        .date, .author {
            display: inline;
            color: $text-light;
            a {display: inline;}
        }
    }

    &.card-layout {
        max-width: 325px;
        &.shadow {
            @include card-layout();
            @include hover-effect($light-hover, $dark-hover);
        }
        &.border {
            @include card-layout($light-hover, $white, border);
            @include hover-effect(transparent, $light-hover);
        }

        .img {
            height: 145px;
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        .content {
            position: relative;
            height: 140px;
            padding: $s-m $s-ll $s-ll;
            h2, h3, h4 {
                a {@include ellipsis-multiline(20, 1.3, 2, 0);}
            }

            .topic, .info {@include ellipsis-multiline(14, 1.3, 1, 0);}
            .topic {
                font-weight: 600;
                color: $l_primary;
                margin-bottom: $s-s;
                @include media(tablet) {
                    cursor: pointer;
                    @include ellipsis-multiline(16, 1.3, 1, 0);
                    &:hover {text-decoration: underline;}
                }
            }

            .info {
                @include position(absolute, bottom 16px left 20px);
                .author {
                    a {
                        font-weight: 600;
                        color: $l_primary;
                        @include media(tablet) {&:hover {text-decoration: underline;}}
                    }

                    &.pro span {
                        color: $text-light;
                        font-weight: 600;
                    }
                }
            }

            .date {
                color: $text-light;
                @include position(absolute, left 20px bottom 16px);
            }

        }

        &.dk-list {
            @include card-layout($light-hover, $white, border);
            @include media(tablet) {
                max-width: none;
                border: 0;
                border-radius: 0;
                padding: $s-m 0;
                @include flexbox();
                @include align-items(center);
                .img {
                    height: 120px;
                    width: 200px;
                    border-radius: 8px;
                }

                .content {
                    width: 65%;
                    width: calc(100% - 200px);
                    padding: $s-ss $s-ll;
                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content(center);

                    h2, h3, h4 {
                        a {@include ellipsis-multiline(20, 1.3, 2, 0);}
                    }

                    .date {position: initial;}
                    .topic {margin-bottom: $s-m;}
                    .info {
                        position: initial;
                        max-width: 100%;
                        margin: $s-ss 0 0;
                    }
                }
            }
        }
    }

    &.dk-mini {
        background-color: transparent;
        @include flexbox();
        h2, h3, h4 {
            a {
                @include ellipsis-multiline(15, 1.3, 2, 0);
                @include media(tablet){ &:hover {text-decoration: underline;} }
            }
        }

        .img {
            width: 65px;
            height: 55px;
            border-radius: 8px;
            margin-right: $s-s;
        }
        .content {
            width: 75%;
            .date {display: none;}
            .topic {
                color: $text-gray;
                font-weight: 300;
                margin-bottom: $s-xs;
                @include ellipsis-multiline(12, 1.3, 1, 0);
            }
        }
    }

    &.mb-mini {
        @extend .dk-mini;
        @include media(tablet) {
            h2, h3, h4 { a { @include ellipsis-multiline(18, 1.3, 2, 0); } }
            .img {
                height: 145px;
                width: 100%;
                border-radius: 10px 10px 0 0;
                margin-right: 0;
            }

            .content {
                position: relative;
                width: 100%;
                padding: $s-m;
                height: 140px;
                .date {
                    display: block;
                    color: $text-light;
                    @include position(absolute, left 16px bottom 16px);
                }
                .topic {
                    font-weight: 600;
                    color: $l_primary;
                    margin-bottom: $s-s;
                    @include ellipsis-multiline(16, 1.3, 1, 0);
                }
            }
            max-width: 325px;
            @include card-layout();
            @include flex-direction(column);
            @include hover-effect();
        }
    }

    &.mb-full {
        max-width: none;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        @include media(tablet) {
            border: 1px solid $border;
            @include card-layout();
        }

        .img {
            height: 180px;
            position: relative;
            border-radius: 0;
            @include media(tablet) {
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }

            .badge {
                color: $white;
                font-weight: 600;
                background-color: $accent_secondary;
                border-radius: 4px;
                padding: $s-xs $s-ss;
                @include position(absolute, top 14px left 12px);
            }
        }

        .content {
            padding: $s-m $s-ll $s-ll;
            height: auto;
            .topic {@include ellipsis-multiline(16, 1.3, 1, 0);}
            h2, h3, h4 {
                a {
                    @include ellipsis-multiline(24, 1.3, 3, 0);
                    margin-bottom: $s-ss;
                }
            }

            .body {
                font-size: $f-m;
                line-height: $s-ml;
                color: $text-heading;
            }

            .info {
                margin: $s-m 0 $s-xxl;
                position: initial;
                @include media(tablet) {margin: $s-m 0 $s-s;}
            }

            .date {position: initial;}

            button {
                margin: 0 auto;
                @include media(tablet) {display: none;}
            }
        }

        &.dk-main {
            h2, h3, h4 {
                a {
                    font-size: 30px;
                    @include no-ellipsis();
                }
            }

            @include media(tablet) {
                .img {height: 350px;}
                .content {
                    padding: $s-ml $s-xl;
                    .topic {
                        margin-bottom: $s-m;
                        @include ellipsis-multiline(20, 1.3, 1, 0);
                    }

                    h2, h3, h4 {
                        a {
                            font-size: $f-lxl;
                            margin-bottom: $s-m;
                            @include no-ellipsis();
                        }
                    }
                    .body {
                        font-size: $f-l;
                        font-weight: 300;
                        line-height: 30px;
                    }
                }
            }
        }

        &.dk-aside {
            @include media(tablet) {
                .content {
                    height: 185px;
                    .info {@include position(absolute, bottom 16px left 20px);}
                }
            }
        }
    }
    &.list{
        margin-bottom: $s-ml;
        color: $text-light;
        @include media(tablet) {
            @include flexbox;
            @include justify-content(flex-start);
            border: 1px solid $border;
            box-shadow: none;
        }
        @include media(desktop) {
           &:hover{
            @include card-layout();
            transform: translateY(-1px);
           }
        }
        @include media(tablet) {
            @include flexbox;
            @include justify-content(flex-start);
        }
        .item-info{
            padding: $s-m;
            @include media(desktop) {
                padding: $s-ml;
            }
        }
        .agenda{
            width: 100%; 
            padding: $s-m;
            position: relative;
            border-left:1px solid $border;
            @include media(tablet) {
                max-width: 300px;
            }
            @include media(desktop) {
                padding: $s-ml;
            }
            h4{
                font-weight: 400;
                .icon{
                    line-height: $f-l;
                    color: $text-light-gray;
                }
            }    
            .day{
                background-color: $neutral_0;
                font-size: $f-xs;
                &:nth-child(even) {
                    background-color: $white;
                 }
            }
            .hour, .date, .dots{
                padding: $s-s;   
            }
            .hour{
                color: $l_primary;
                font-size: $f-s;
                cursor: pointer;
                @include media(desktop) {
                    &:hover{
                        color: $text-title;
                    }
                }
            }
            .call-to-action{
                @include media(tablet) {
                    position: absolute;
                    bottom: $s-m;
                    left: 0;
                    width: 100%;
                }
                @include media(desktop) {
                    bottom: $s-ml;
                }
                button{
                    margin: 0 auto;
                    min-width: 194px;
                }
            } 
            .no-result{
                text-align: center;
                color: $text-light-gray;
                .icon{
                    font-size: $f-mxl;
                    display: block;
                }
            }
        }
    }
    .header{
        font-size: 13px;
        a{
            color: $l_primary;
            font-size: $f-ml;
        }
        span{
            display: block;
            float: left;
        }
    }
    .image-box{
        border-radius: 3px;
        border: 1px solid $border;
        width: 80px;
        height: 65px;
        img{
            width: 80px;
            height: 65px;
        }
        @include media(tablet) {
            width: 135px;
            height: 100px;
            img{
                width: 135px;
                height: 100px;
            }
        }
    }
    .verified{
        font-weight: 600;
        line-height: $f-ml;
        color: $text-medium;
        .icon{
            color: $l_primary;
            font-size: $f-l;
        }
    }
    .location{
        font-size: $f-s;
        .icon{
            color: $text-light-gray;
        }
    }
    .description{
        clear: left;
        color: $text-heading;
        line-height: $f-ml;
        @include media(tablet) {
            min-height: 74px;
        }
    }
    .bottom-box{
        @include media(tablet) {
            @include flexbox;
            @include justify-content(space-between);
        }
        .badges, .call-to-actions{
            @include flexbox;
            @include justify-content(center);
        }
        .badges{
            background-color: $neutral_0;
            width: 70%;
            margin: 0 auto;
            border-radius: 3px;
            margin-top: $s-ml;
            padding: $s-s;
            @include media(tablet) {
                width: calc(100% - 200px);
                margin: 0;
                background-color: transparent;
                @include justify-content(flex-start);
                @include align-items(center);

            }
            span{
                cursor: pointer;
                width: 100%;
                display: block;
                text-align: center;
                @include media(tablet) {
                    float: left;
                    width: auto;
                }
            }
            .icon{
                line-height: $f-l;
                color: $text-light-gray;
            }
            div{
                @include media(tablet) {
                    &:hover{
                        .icon{
                            color: $grey-dark_0;
                        }
                    }
                }
            } 
        }
        .call-to-actions{
            margin: $s-ml 0;
            @include media(tablet) {
                @include justify-content(flex-end);
                margin: 0;
            }
            button{
                margin: 0 $s-s;
                @include media(tablet) {
                    margin: 0;
                }
            }
        }
    }
    .tabs{
        border-top: 1px solid $border;
        li{
            position: relative;
            @include media(tablet) {
                &:before{
                    @include pseudo;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 3px;
                    background-color: $primary;
                    transform: scaleX(0);
                    transition: all .2s ease-in-out 0s;
                    visibility: hidden;
                }
                &:hover{
                    &:before{
                        transform: scaleX(1);
                        visibility: visible;
                    }
                }
            }
        }
        button{
            background: transparent;
            color: $primary;
            font-weight: normal;
            padding: $s-m;
            font-size: $f-s;
            span{ 
                display: block;
            }
            @include media(tablet) {
                font-size: $f-m;
            }
        }
        .count{
            margin-left: $s-s;
            font-size: $f-s;
            color: $neutral_2;
            line-height: $f-l;
        }
    }
}