.filter{
    border-radius: 3px;
    form{
        padding: 0;
        margin-bottom: 0;
        input{
            border: 1px solid $white;
        }
        .input{
            min-width: 50%;
            cursor: pointer;
            position: relative;
            @include media(desktop) {
                min-width: 188px;
            }
            .icon{
                position: absolute;
                display: block;
                right: 14px;
                top: 11px;
                font-size: 22px;
                color: $primary;
            }
        }
        label{
            display: block;
            font-size: $f-s;
            margin: 13px 0;
            cursor: pointer;
        }
    }
}