footer {
    color: $white;
    background-color: $grey-dark_0;
    border-top: 4px solid $l_primary;
    clear: both;

    a {
        color: $text-gray !important;
        @include prefix('transition', '.2s color ease-in-out', moz webkit ms o);
        @include media(tablet){
            &:hover {color: $white !important;}
        }
    }

    ul {
        margin-top: $s-l;
        li {margin-bottom: $s-m;}
    }

    .sitemap {
        padding: $s-ml;
        @include media(tablet) {
            @include flexbox();
            @include justify-content(space-between);
            div:first-child {width: 32%;}
        }

        @include media(desktop) {padding: $s-ml 0;}

        .logo {
            height: 22px;
            width: auto;
            margin-bottom: $s-s;
        }

        .legal {
            @include flexbox();
            ul:first-child {margin-right: $s-m;}
        }

        .social {
            @include flexbox();
            @include align-items(center);
            height: 50px;
            margin-bottom: $s-l;
            a {
                font-size: $f-mxl;
                margin-left: $s-s;
            }
        }

        .audit {
            font-weight: 600;
            margin-bottom: $s-xxxl;
            p:nth-child(2) {
                font-weight: 300;
                margin: $s-ss 0 $s-l;
            }
            img {width: 100px;}
        }

        .links {
            span {font-weight: 600;}
            @include flexbox();
            @include flex-wrap(wrap);
            @include media(tablet) {
                margin-top: $s-s;
                width: 65%;
            }

            .item {
                margin-bottom: $s-xxl;
                width: 220px;
                &:last-child {margin: 0;}
                @include media(tablet) {
                    width: 100%;

                    ul {
                        @include flexbox();
                        @include flex-wrap(wrap);

                        li {margin-right: $s-l;}
                    }
                }
            }
        }
    }

    .flags {
        padding: $s-ml;
        background-color: $grey-dark_1;

        ul {
            margin-top: 0;
            @include flexbox();
            @include flex-wrap(wrap);
            li {
                width: 50%;
                @include flexbox();
                @include align-items(center);
                @include media(tablet) {
                    width: 33%;
                }

                a {
                    font-size: $f-xxs;
                    display: inline;
                    @include media(tablet) {
                        font-size: $f-xs;
                    }
                }
            }
        }

        span {
            display: inline-block;
            width: 23px;
            height: 23px;
            margin-right: 6px;
        }

        .ar {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, 0 0);}
        .br {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -96px 0);}
        .cl {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -71px 0);}
        .co {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -143px 0);}
        .es {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -168px 0);}
        .fr {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -23px 0);}
        .it {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -47px 0);}
        .mx {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -119px 0);}
        .pt {@include bg-image($grey-dark_1, "https://www.mundopsicologos.com/img/web/flags-footer.png", no-repeat, -192px 0);}
    }
}