header {
    width: 100%;
    position: fixed;
    padding: 5px 0;
    height: 42px;
    top: 0;
    background-color: $white;
    z-index: 8;
    @include box-shadow(0px, 1px, 2px, 2px, $gray-shadow);
    @media (min-width: $m) {
        position: relative;
        height: 100px;
        padding: 0;

    }

    &:before {
        content: '';
        position: fixed;
        left: -100%;
        right: 0;
        top: 40px;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($black, 0.3);
        will-change: background-color, left;
        @include prefix('transition', '.2s background-color ease-in-out', moz webkit ms o);
    }

    div:nth-child(3) {
        height: 100%;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        @media (min-width: $m) {
            height: 65px;
            @include justify-content(space-between);
        }

        h1 {
            margin-bottom: 0;
            span {
                text-indent: -100%;
                visibility: hidden;
                position: absolute;
            }
            img {
                height: 20px;
                margin: 0 auto;
                @media (min-width: $m) {
                    height: 25px;
                }
            }
        }
    }

    nav {
        width: 70%;
        height: 100%;
        background-color: $white;
        @include position(fixed, left -70% top 0);
        @media (min-width: $m) {
            position: unset;
            height: auto;
        }

        ul {
            @include media(tablet) {
                @include flexbox();
                @include justify-content(flex-end);
            }
            li {
                padding: $s-m;
                color: $primary;
                &:first-child {padding: $s-xl $s-m $s-m;}
                a {
                    font-size: 16px;
                    @include media(tablet) {
                        color: $text-gray;
                        font-weight: 300;
                        &:hover {color: $text-title;}
                    }
                    span {
                        margin-right: $s-xs;
                        @include media(tablet){display: none;}
                    }
                }
            }
        }
    }

    &.isOpen {
        &:before, nav {left: 0;}
        img {opacity: 0;}

        .hamburguer {
            left: 70%;
            span {
                &:nth-child(1) {
                    top: 19px;
                    width: 0;
                    right: 50%;
                }
                &:nth-child(2) {
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
                &:nth-child(3) {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
                &:nth-child(4) {
                    top: 19px;
                    width: 0;
                    right: 50%;
                }
            }
        }
    }
}