.hero {
    margin-top: 40px;
    padding: $s-xl $s-l;
    text-align: center;
    z-index: 1;
    position: relative;
    @include bg-image($light-pink, "https://www.mundopsicologos.com/img/web/psico/home-hero-mb.png");

    @media (min-width: $m) {
        height: 435px;
        padding: 5% 5% 8%;
        @include flexbox();
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        @include bg-image($light-pink, "https://www.mundopsicologos.com/img/web/psico/home-hero-dk.png");
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($white, .3);
        z-index: 3;
    }

    .ie-btn {
        z-index: 5;
    }

    @media (min-width: $m) {
        margin-top: 0;
    }

    h1 {
        font-size: $f-mxl;
        color: $text-medium;
        line-height: 1.2;
        margin-bottom: $s-m;
        position: inherit;
        z-index: 5;
        @media (min-width: $m) {
            font-size: $f-xxxl;
        }
    }

    p {
        color: $text-light;
        font-weight: 300;
        margin: $s-s $s-l;
        line-height: $s-ml;
        position: inherit;
        z-index: 5;
        strong {font-weight: 600;}

        @media (min-width: $m) {
            font-size: $f-ml;
            width: 70%;
            max-width: 500px;
            line-height: $s-xxl;
            margin: $s-s auto $s-xxl;
            strong {font-size: $f-ml;}
        }
    }
}