.overview-header {
    @include media(tablet) {
        margin: $s-xxl 0 $s-xl;
        border-radius: 8px;
        border: 1px solid $border;
    }

    .background {
        position: relative;
        z-index: 1;
        @include media(tablet){
            height: 210px;
            padding: $s-xxl;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;
        }

        &:before {
            content: '';
            background: linear-gradient(to bottom right, $primary, $d_secondary);
            height: 100%;
            width: 100%;
            opacity: .8;
            @include position(absolute, left 0 top 0);
            z-index: 2;
            @include media(tablet){background: none;}
        }

        .h3, p {
            color: $white;
            position: relative;
            z-index: 3;
            @include media(tablet){max-width: 65%;}
        }

        .h3 {
            margin-bottom: $s-s;
            @include media(tablet){
                font-size: $f-xl;
                color: $text-heading;
            }
        }

        .desc {
            @include ellipsis-multiline(13, 1.3, 1, 0);
            @include media(tablet) {
                @include no-ellipsis;
                font-size: $f-m;
                color: $text-heading-l;
                margin-bottom: 0;
            }
        }
    }

    .relative.bg-white {
        @include media(tablet){
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-top: 1px solid $border;
        }
    }

    nav.tabs-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        height: 50px;
        @include scrollbar();

        @include media(tablet){
            padding: 0 $s-ss;
        }

        a {
            text-align: center;
            @include media(tablet){
                font-size: $f-l;
                padding: $s-ss $s-ll;
                cursor: pointer;
                @include prefix('transition', '.1s ease-in');
                &:hover {border-bottom: 3px solid $border;}
            }

            &.active {border-bottom: 3px solid $primary;}
        }
    }
}