.paginator {
    padding: $s-ss;
    font-weight: 300;
    background-color: $white;
    text-align: center;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    clear: both;
    .text {
        font-size: $f-m;
        margin: 0 $s-ss;
        @include media(tablet) {margin: 0 $s-m;}
        span.active {
            font-size: $f-m;
            font-weight: 600;
        }
    }

    button {
        display: inline;
        font-size: $f-xl;
        color: $text-heading-l;
        vertical-align: bottom;
        &.active {
            color: $primary;
            &:hover {color: $d_primary;}
        }
    }

    @include media(tablet) {
        background-color: transparent;
        padding: $s-ll;
    }
}