.pro-list {
    .pro {
        @include flexbox();
        .num {
            font-size: $f-mxl;
            font-weight: 600;
            color: $input-border;
        }

        .img {
            position: relative;
            margin: 0 0 0 $s-m;
            img {
                height: 90px;
                min-width: 90px;
            }
            span {
                font-size: $f-sl;
                color: $neutral_3;
                @include position(absolute, top 10px right 10px);
            }
        }

        .info {
            font-weight: 300;
            margin: 0 0 0 $s-m;
            color: $text-heading;
            a {
                margin-bottom: 6px;
                h3, h4 {
                    font-size: $f-m;
                    color: $text-title;
                }
            }

            .col {margin-bottom: 6px;}
            .art span {
                font-weight: 600;
                color: $secondary;
            }
        }
    }
}