.pro-card {
    text-align: center;
    border-radius: 10px;
    position: relative;
    padding: $s-ll $s-m $s-m;
    background-color: $white;
    @include hover-effect(transparent, $dark-hover);
    @include card-layout($light-hover, $white, pro-shadow);
    @include media(tablet) {@include card-layout();}

    .img {
        height: 100px;
        width: 100px;
        border: 3px solid $border;
        border-radius: 50%;
        margin: 0 auto $s-s;
    }

    .content {
        button {
            width: 85%;
            @include position(absolute, bottom 24px right 16px);
        }
        .name {
            @include ellipsis-multiline(15, 1.3, 2, 0);
            color: $text-heading;
        }
    }
}