.promo-box{
    @include media(tablet) {
        display: flex;
        justify-content: flex-start;
    }
    h3{
        margin-bottom: $s-s;
    }
    .promo-image{
        margin-bottom: $s-m;
        @include media(tablet) {
            margin-right: $s-m;
            margin-bottom: 0;
        }
        img{
           border-radius: 4px; 
           width: 100%;
        }
    }
    .discount{
        color: $neutral_2;
    }
    button{
        max-width: 200px;
        margin: $s-m auto;
        @include media(tablet) {
            float: right;
        }
    }
}