.qanda-box{
    ul{
        li{
            padding: $s-m;
            border-bottom: 1px solid $border;
            &:last-child{
                border: none;
            }
        }
    }
    h4{
        a{
            color: $primary;
            font-weight: 400;
            font-size: $f-m;
        }
    }
    p{
        color: $neutral_2;
    }
}