.qanda {
    padding: $s-ml 0 $s-xl;
    border-bottom: 1px solid $border;
    &:first-of-type {
        padding: 0 0 $s-xl;
        @include media(tablet){padding: $s-ml;}
    }
    &:last-of-type {margin-bottom: 24px;}
    @include media(tablet){
        background-color: $white;
        border-radius: 8px;
        padding: $s-ml;
        margin-bottom: $s-ss;
        border-bottom: 0;
    }
    .date {
        font-weight: 400;
        margin-bottom: 6px;
        display: block;
        color: $neutral_3;
    }
    .question-link {
        color: $primary;
        @include media(tablet){&:hover {color: $d_primary;}}
    }

    // Answer box
    .answer, &.answer {
        background-color: $neutral_0;
        border-radius: 8px;
        margin-top: $s-ml;
        padding: $s-m $s-l $s-ml;
        position: relative;
        @include media(tablet){
            @include flexbox();
            padding: $s-ml;
            .content {
                width: calc(100% - 300px);
                padding-right: $s-xxl;
            }
        }
        &:before {
            @include triangle($neutral_0, up, 10px);
            left: 20px;
        }

        .body {
            margin: 10px 0 $s-m;
            @include media(tablet){margin: 10px 0 0;}
        }

        .author-box {
            border-top: 1px solid $border;
            padding: $s-m 0 0;
            @include media(tablet){
                padding: 0 0 0 24px;
                width: 300px;
                min-width: 300px;
                border-top: 0;
                border-left: 1px solid $border;
                @include align-items(center);
                .flex-col.between {@include justify-content(center);}
            }
        }

        //Modifier for qanda card answer box
        &.qanda-card {
            background-color: $white;
            margin-top: $s-ss;
            padding: $s-xl $s-l $s-ml;
            border-radius: 0;
            border-bottom: 0;
            &:before { @include triangle(transparent, up, 0px);}
            @include media(tablet) {
                padding: $s-xxl 40px 70px;
                border-radius: 8px;
            }

            .badge {
                background-color: $neutral_0;
                border-radius: 6px;
                padding: $s-s $s-ss;
                margin-bottom: $s-s;
                display: inline-block;
                margin-right: $s-ss;
            }

            .likes { @include media(tablet){display: inline;} }
            .body {
                font-size: $f-m;
                margin: 10px 0 $s-ml;
            }

            .author-box {
                padding: $s-m $s-l $s-ml;
                background-color: $neutral_0;
                border-radius: 8px;
                position: relative;
                border-top: 0;
                max-height: fit-content;
                @include align-items(flex-start);
                @include media(tablet){border-left: 0;}
                &:before {
                    @include triangle($neutral_0, up, 10px);
                    left: 20px;
                    @include media(tablet){
                        @include triangle($neutral_0, left, 10px);
                        top: 20px;
                    }
                }
            }

            .vote_box {
                .vote_yes div {margin-right: 2px;}
                .vote_yes, .vote_no {
                    border: 1px solid $border;
                    font-weight: 300;
                    border-radius: 4px;
                    padding: $s-xs $s-s;
                    margin: 0 $s-xs;
                    height: 28px;
                    @include flexbox();
                    @include media(tablet) { &:hover {@include box-shadow(0, 1px, 1px, 0, $dark-hover);} }
                }
            }

            .vote_box, .vote_success {
                @include media(tablet) {
                    @include position(absolute, bottom 36px left 40px);
                }
            }
        }
    }

    &.main-qanda {
        .date {color: $text-light;}
        @include media(tablet){
            padding: 0;
            margin-bottom: 36px;
            border-radius: 0;
            border-bottom: 1px solid $border;
            .h2 {
                font-size: $f-mxl;
                line-height: 42px;
                margin-bottom: 20px;
            }
            .topic {margin: 0 $s-xs;}
            .date, .topic {display: inline;}
            .date:after {@include pseudo(inline, relative, $content: ' · ');}
            .flex-col {
                @include flex-direction(row);
                @include align-items(baseline);
                .share a {
                    border-radius: 50%;
                    &:hover {@include box-shadow(0, 1px, 1px, 2px, $dark-hover);}
                }
            }
        }

        .page-ttl.entry.black {
            font-size: $f-xl;
            @include media(tablet){
                font-size: $f-mxl;
                margin-bottom: $s-ml;
            }
        }

        .body {
            border-top: 1px solid $border;
            @include media(tablet){
                border-top: 0;
                padding: $s-ml 0 $s-xxl;
            }
        }

        button {
            margin: $s-ml auto;
            min-width: 160px;
        }
    }

    .answers-link {margin-top: $s-l;}
}