.rating-box{
    border: 1px solid $border;
    border-radius: 3px;
    background-color: $white;
    text-align: center;
    .rating-stars{
        padding: $s-m;
        border-bottom: 1px solid $border;
    }
    .rating-number{
        font-size: $f-lxl;
        &:nth-child(2){
            color: $neutral_2;
            margin-right: $s-ml;
        }
    }
    .rating-count{
        padding: $s-ss;
    
    }
    .rating-detail{
        text-align: left;
        padding: $s-s $s-m $s-m;
        p{
            padding-top: $s-s;
            color: $text-gray;
        }
        span{
            display: inline-block;
            width: 28px;
            text-align: center;
            &.icon-mail-send{
                color: #19b5bc;
                font-size: 8px;
            }
            &.icon-money2{
                color: #f0bd24;
            }
            &.icon-heart2{
                color: #ec7da3;
            }
        }
        
    }
    .rating-percent{
        padding: $s-s;
        background-color: $neutral_0;
        font-weight: 600;

    }
    .icon-star-full{
        font-size: $f-sxl;
        color: $accent_secondary;
    }
    &.sidebar{

    }
}