.recommendations-box{
    li{
        border-bottom: 1px solid $border;
        padding-bottom: $s-m;
        margin-bottom: $s-m;
       
    }
    .recommended{
        .f-right{
            color: $neutral_2;
            margin-right: 0;
        }
    }
}