.sections-nav {
    padding: $s-xl $s-m;
    @include media(tablet) {
        padding: $s-xl 0;
    }

    .page-ttl.sub {margin: 0 0 $s-s;}
    nav {
        list-style: none;
        li {
            display: inline-block;
            a {
                color: $text-dark;
                background-color: $white;
                border-radius: 6px;
                margin: $s-xs $s-xs $s-xs 0;
                padding: $s-s $s-m;
                @include prefix('transition', '0.2s ease');
                @include media(tablet) {
                    margin: 6px 6px 6px 0;
                    &:hover {
                        @include prefix('transform', 'translateY(-1px)', moz webkit ms o);
                        @include box-shadow(0, 1px, 3px, 0, $light-hover);
                    }
                }
            }
        }
    }
}