.social-box {
    width: 100%;
    padding: 6px 10px;
    z-index: 10;
    @include flexbox();
    @include flex-direction(row-reverse);
    @include justify-content(space-between);
    @include align-items(center);
    @include position(fixed, bottom 0 left 0);
    @include media(tablet) {
        padding: $f-m 10px;
        background-color: transparent;
        width: 56px;
        height: 355px;
        @include position(sticky, top 0 left 0);
        @include flex-direction(column);
        @include align-items(center);
    }

    a {display: inline;}
    .actions {
        @include flexbox();
        @include align-items(center);
        @include media(tablet) {
            @include flex-direction(column);
            margin-top: $s-ss;
        }

        .num {
            font-weight: 600;
            font-size: $f-m;
            margin-left: $s-xs;
            @include media(tablet) {
                margin-left: 0;
            }
        }
        .likes, .comment {@include flexbox();}
        .likes {
            &:hover, &:active, &:focus {
                background-color: $white;
                @include box-shadow(0, 1px, 4px, 2px, rgba($neutral_2, .7));
            }
            border-radius: 50%;
            padding: 6px;
            span {
                font-size: $f-sl;
                color: red;
                &.icon-heart {display: none;}
            }
        }

        .comment {
            color: $text;
            margin-left: 6px;
            padding: 6px;
            @include media(tablet) {
                margin-left: 0;
                text-align: center;
                padding: 6px 0;
                @include flex-direction(column);
            }

            img {
                width: 21px;
                height: 18px;
                @include media(tablet) {
                    width: 23px;
                    height: 19px;
                }
            }
            .num {
                margin-left: $s-s;
                @include media(tablet) {
                    margin: 6px 0 0;
                }
            }
        }
    }

    .social-network {
        @include flexbox();
        @include align-items(baseline);
        @include media(tablet) {
            @include flex-direction(column);
            @include align-items(center);
        }

        img, .icon-whatsapp-share, .icon-mail-share {
            margin-left: 6px;
            @include media(tablet) {
                display: block;
                margin: 0 0 12px;
            }
        }
        img {
            width: 28px;
            height: 28px;
        }
        .icon-mail-share {font-size: 28px;}
        .icon-whatsapp-share {font-size: 32px;}
    }
}