.user-nav {
    height: 35px;
    background-color: $primary;
    a {
        font-size: 12px;
        color: $white;
        span {vertical-align: middle;}
    }

    .wrapper {
        height: 100%;
        @include flexbox();
        @include justify-content(flex-end);
        @include align-items(center);

        .btn:first-child {
            position: relative;
            &:before {
                position: absolute;
                top: $s-xs;
                right: -$s-s;
                content: '';
                width: 1px;
                height: 15px;
                background-color: #fff;
                opacity: .3;
            }
        }

        .btn:last-child {margin-left: $s-ml;}
    }
}