.wrapper {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: $m) {max-width: $l;}

    .w-200 {
        width:100%;
        @include media(tablet) {width:248px;}
        @include media(desktop) {width: 264px;}
    }

    .w-300 {
        width:100%;
        @include media(tablet) {width:348px;}
        @include media(desktop) {width: 364px;}
    }
}

/* Flex wrapper ************/
.flex-wrapper {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    .item {
        width: 48%;
        width: calc(50% - 5px);
        margin-bottom: 10px;
        @include media(tablet) {
            width: calc(50% - 10px);
            margin-bottom: 20px;
        }

        @include media(desktop) {
            width: 24%;
            width: calc(25% - 15px);
        }
    }

    &.f-3 {
        .item {
            width: 32%;
            width: calc(33% - 15px);
        }
    }

    &.only-desktop {
        display: block;
        .item {width: 100%;}
        @include media(tablet) {
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(space-between);

            &.f-2 {
                .item {
                    width: 49%;
                    width: calc(50% - 15px);
                }
                &.l-gap .item {width: 45%;}
            }

            &.f-3 {
                .item {
                    width: 32%;
                    width: calc(33% - 15px);
                }
                &.s-gap .item {
                    width: 32.6%;
                    width: calc(33% - 5px);
                }
            }

            &.f-2-3 {
                .item {
                    width: 49%;
                    width: calc(50% - 15px);
                    a {height: 100%;}
                    @include media(desktop) {
                        width: 32%;
                        width: calc(33% - 15px);
                    }
                }
            }

            &.f-3-4 {
                .item {
                    width: 32%;
                    width: calc(33% - 15px);
                    a {height: 100%;}
                    @include media(desktop) {
                        width: 24%;
                        width: calc(25% - 15px);
                    }
                }
            }
        }
    }
}

// Flexbox
.flex {
    @include flexbox();
    &.center {
        @include flexbox();
        @include align-items(center);
    }
    &.end {
        @include flexbox();
        @include align-items(flex-end);
    }
    &.between {
        @include flexbox();
        @include justify-content(space-between);
    }
    &.start {
        @include flexbox();
        @include justify-content(flex-start);
    }
}
.flex-col {
    @include flexbox();
    @include flex-direction(column);
    &.center {@include align-items(center);}
    &.between {@include justify-content(space-between);}
    &.start {@include justify-content(flex-start);}
}

/* Col layout ************/
.col-layout {
    @include media(tablet) {
        @include flexbox();
        .main-col {
            width: calc(100% - 340px);
        }

        .left-fixed-col {
            background-color: transparent;
            width: 56px;
            height: 284px;
            z-index: 10;
            @include position(sticky, top 0 left 0);
        }

        .right-fixed-col {
            width: 280px;
            height: 562px;
            @include position(sticky, top 0 left 0);
        }
    }
}