
  .link-grey {
    color:  $text-gray;
    @include media('tablet') {
        &:hover {
            text-decoration: underline;
            color:  $text-gray;
        }
    } 
 }

 .link-white {
    color:  $white;
    @include media('tablet') {
        &:hover {
            text-decoration: underline;
            color:  $text-gray;
        }
    } 
 }

button, input[type=submit], input[type=button] {
    display: block;
    text-align: center;
    cursor: pointer;
    font-size: $f-m;
    color: $white;
    font-weight: 600;
    border-radius: $s-xs;
    background-color: $primary;
    padding: $s-m $s-xxl;
    border: none;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include media('tablet') {
        &:hover {
            background-color: $l_primary;
        }
    }

    &:focus {
        outline: 0;
    }
    span{
        display: block;
        float: left;
        &.icon{
            margin-right: $s-s;
            font-size: $f-s;
        }
    }
}

.button-secondary {
    background-color: $secondary;
    @include media('tablet') {
        &:hover {
            background-color: $d_secondary;
        }
    }
}

.button-grey {
    background-color: $neutral_0;
    color: $text-title;
    @include media('tablet') {
        &:hover {
            background-color: $neutral_1;
        }
    }
}
.button-accent {
    background-color: $accent;
    @include media('tablet') {
        &:hover {
            background-color: $l_accent;
        }
    }
}
.button-disabled {
    background-color: $neutral_0;
    color: $neutral_1;
    cursor: default;
    @include media('tablet') {
        &:hover {
            background-color: $neutral_0;
            color: $neutral_1;
        }
    }
}

 .button-transparent {
    background: transparent;
    color: $primary;
    padding: 0;
    border-radius: 0;
    &.text {
        display: inline;
        font-weight: 400;
        font-size: inherit;
        text-align: left;
        &.color {color: inherit;}
    }
    @include media('tablet') {
        &:hover {
            color: $d_primary;
            background: transparent;
        }
    }
 }

 // Used on user-nav on main header
.btn {
    border-radius: 40px;
    padding: $s-xs $s-m;
    margin: 0 $s-s;
    @include prefix('transition', '.2s background-color ease-in-out', moz webkit ms o);

    &.dark {
        background-color: rgba($black, .25);
        &:hover {background-color: rgba($black, .40);}
    }

    &.ghost {
        &:hover {background-color: rgba($black, .25);}
    }
}

//The old button used on hom searchbox
.ie-btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    font-size: $f-m;
    line-height: 1;
    letter-spacing: .6px;
    text-align: center;
    text-decoration: none;
    min-width: 165px;
    color: $white !important;
    background-color: $primary;
    background-image: linear-gradient(-90deg, rgba($d_secondary, .8), rgba($l_primary, .2) 72%);
    padding: 13px 20px;
    vertical-align: middle;
    border-radius: 25px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color .3s ease-in-out;
    border: none;
    position: relative;
    outline: none;

    &:hover {
        background-color: $d_primary;
        background-image: none;
    }
}
