form {
    margin: $s-ml 0;

    &.form {
        background-color: $bg_component;
        border-radius: 8px;
        padding: $s-ml $s-l;
        @include media(tablet) {padding: $s-ml $s-xl $s-xxl;}
        &.mb-full {
            border-radius: 0;
            @include media(tablet) {border-radius: 8px;}
        }
    }

    //Search input with lens icon
    &.search-form {
        padding: 0;
        @include media(tablet){
            @include flexbox();
            @include align-items(center);
            width: 540px;
            margin: $s-ml auto 70px;
            button.m-auto {
                height: 45px;
                margin: 0;
                width: 130px;
            }
        }
        .search-input {
            position: relative;
            margin: $s-l 0 $s-ml;
            @include media(tablet){
                margin: 0 $s-ss 0 0;
                width: calc(100% - 130px);
            }
            input {
                border: 1px solid $border;
                padding-left: $s-xxl;
                border-radius: 5px;
            }
        }

        [class^=icon-], [class*=" icon-"] {
            @include position(absolute, top 13px left 13px);
            color: $neutral_2;
        }
    }

    &.bold-label label {
        font-weight: 600;
        color: $text-heading;
    }

    .flex-opt {
        margin: $s-ss 0;
        @include flexbox();
        .opt {
            width: 50%;
            font-weight: 400;
            padding: 13px $s-s 13px 26px;
            background-color: $white;
            border: 1px solid $border;
            @include flexbox();
            &:first-child {border-radius: 4px 0 0 4px;}
            &:last-child {border-radius: 0 4px 4px 0;}
            &.active {
                font-weight: 600;
                border: 1px solid $primary;
            }
        }
    }

    fieldset {
        border: none;
        box-shadow: none;
        border-width: 0;
        border-style: none;
        position: relative;
        padding: 0;
        margin: 0 0 $s-m;
        width: 100%;
        @include media(tablet){margin: 0 0 $s-xl;}

        &.select {
            div {position: relative;}
            select {color: rgba($text-heading-l, .7);}
            [class^=icon-], [class*=" icon-"] {
                font-size: 20px;
                color: rgba($text-heading-l, .7);
                @include position(absolute, right 10px top 14px);
            }
        }
    }

    label {
        font-size: $f-m;
        a {display: inline;}
        &.hidden {
            visibility: hidden;
            position: absolute;
        }
        .rgpd {
            font-size: $f-xs;
            font-weight: 400;
            line-height: 16px;
            color: $text-heading-l;
            display: inline-block;
            padding: 0;
            a {
                display: inline;
                color: $primary;
            }
        }
    }

    textarea {
        height: auto;
        min-height: 95px;
        resize: none !important;
        &.large {min-height: 220px;}
    }

    input[type='text'], input[type='password'], input[type='email'], input[type='tel'],
    input[type='date'], input[type='number'], input, textarea, select {
        display: block;
        font-size: $f-m;
        font-family: $typo-primary;
        color: $text-heading-l;
        padding: $s-ss;
        border: 1px solid $border;
        outline: none;
        background-color: $white;
        border-radius: 4px;
        &:focus {border: 1px solid $primary;}
        &:not([type=checkbox]):not([type=radio]){
            width: 100%;
            height: 45px;
        }
    }

    //CUSTOM CHECKBOX
    input[type="checkbox"]{
        display: inline-block;
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        &+ span {
            position: relative;
            padding: 0 0 0 30px;
            color: $text-gray;
            &:before {
                @include iconFontStyle();
                content: "\e61e";
                color: transparent;
                font-size: 18px;
                border: 1px solid $input-border;
                background-color: $white;
                width: 20px;
                height: 20px;
                border-radius: 3px;
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        &:checked + span:before {
            color: $l_primary;
        }
    }

    //CUSTOM RADIO
    input[type="radio"]{
        position: relative;
        opacity: 0;
        z-index: 1;
        &+ span {
            position: relative;
            line-height: 2;
            cursor: pointer;
            &:before {
                content: '';
                border: 1px solid $border;
                background-color: $white;
                width: 22px;
                height: 22px;
                border-radius: 100%;
                cursor: pointer;
                position: absolute;
                top: -2px;
                left: -28px;
                cursor: pointer;
            }
            &:after {
                opacity: 0;
                content: '';
                background: $primary;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 0;
                left: -25px;
                border-radius: 100%;
                cursor: pointer;
                transition: .2s all ease-in-out;
            }
        }
        &:checked + span:after {
            opacity: 1;
        }
    }

    @include media(tablet){
        .d-w-300 {width: 300px !important;}
    }

    /* Error Texts */
    .frm-error {
        input, textarea, select { border: 1px solid $error-text !important; }
        .error-hlp {
            display:block;
            color: $error-text;
            padding: 2px 0;
            font-size: $f-xs; }
    }

    /* Errors corrected in forms */
    .frm-error-ok {
        input,  textarea,  select { border: 1px solid $success-text !important; }
        .error-hlp { display:block; color: $success-text; padding: 2px 0; font-size: .8rem;  }
    }
}


// Placeholder reset
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba($text-heading-l, .7);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba($text-heading-l, .7);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba($text-heading-l, .7);
}