h1, .h1 {
    font-size: 28px;
    font-weight: 600;
    color: $text-title;
    line-height: 36px;
    margin-bottom: $s-ss;
    &.light {color: $text-heading-l;}
    @include media(tablet){
        font-size: $f-xxl;
        line-height: 63px;
        &.same {
            font-size: 28px;
            line-height: 36px;
        }
    }
}

h2, h2 a, .h2, .h2 a {
    font-size: $f-xl; //24px
    font-weight: 600;
    color: $text-title;
    line-height: 32px;
    margin-bottom: $s-ss;
    &.light {color: $text-heading-l;}
}

h3, h3 a, .h3, .h3 a {
    font-size: $f-l; //18px
    font-weight: 600;
    color: $text-title;
    line-height: 24px;
    letter-spacing: -0.19px;
    margin-bottom: $s-ss;
    &.light {color: $text-heading-l;}
}

h4, h4 a, .h4, .h4 a {
    font-size: $f-m; //16px
    font-weight: 600;
    color: $text-title;
    line-height: 23px;
    letter-spacing: -0.17px;
    &.light {color: $text-heading-l;}
}


.subttl {
    font-size: $f-s;
    color: $text-heading-l;
    font-weight: 300;
    strong {
        font-size: $f-s;
        font-weight: 600;
    }
    &.big {font-size: $f-m;}
    &.dark {color: $text-title;}
    @include media(tablet) {
        font-size: $f-l;
        strong {font-size: $f-l;}
    }
}
