@font-face {
    font-family: 'icomoon';
    src:url('01_fonts/icomoon.eot?-czmyvc');
    src:url('01_fonts/icomoon.eot?#iefix-czmyvc') format('embedded-opentype'),
    url('01_fonts/icomoon.woff?-czmyvc') format('woff'),
    url('01_fonts/icomoon.ttf?-czmyvc') format('truetype'),
    url('01_fonts/icomoon.svg?-czmyvc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .icon, .icon:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-id-card:before {
    content: "\e93d";
}
.icon-twitter-outline:before {
    content: "\e93a";
}
.icon-fb-outline:before {
    content: "\e93b";
}
.icon-whatsup-outline:before {
    content: "\e939";
}
.icon-user3:before {
    content: "\e900";
}
.icon-lock2:before {
    content: "\e90c";
}
.icon-location2:before {
    content: "\e901";
}
.icon-mail:before {
    content: "\e902";
}
.icon-service:before {
    content: "\e905";
}
.icon-check_circle:before {
    content: "\e86c";
}
.icon-help_outline:before {
    content: "\e8fd";
}
.icon-business_center:before {
    content: "\eb3f";
}
.icon-clip:before {
    content: "\e001";
}
.icon-briefcase:before {
    content: "\e075";
}
.icon-comment:before {
    content: "\e64e";
}
.icon-cog:before {
    content: "\e64f";
}
.icon-loop:before {
    content: "\e650";
}
.icon-user:before {
    content: "\e651";
}
.icon-question-sign:before {
    content: "\e652";
}
.icon-share:before {
    content: "\e653";
}
.icon-flag-2:before {
    content: "\e654";
}
.icon-arrow-left:before {
    content: "\e655";
}
.icon-arrow-down:before {
    content: "\e656";
}
.icon-arrow-up:before {
    content: "\e657";
}
.icon-arrow-right:before {
    content: "\e658";
}
.icon-arrow-left2:before {
    content: "\e659";
}
.icon-arrow-down2:before {
    content: "\e65a";
}
.icon-arrow-up2:before {
    content: "\e65b";
}
.icon-arrow-right2:before {
    content: "\e65c";
}
.icon-clock:before {
    content: "\e65d";
}
.icon-house:before {
    content: "\e65e";
}
.icon-request:before {
    content: "\e90a";
}
.icon-target:before {
    content: "\e90f";
}
.icon-phone-hang-up:before {
    content: "\e91a";
}
.icon-community:before {
    content: "\e910";
}
.icon-trophy:before {
    content: "\e90b";
}
.icon-happy:before {
    content: "\e91e";
}
.icon-happy2:before {
    content: "\e91f";
}
.icon-smile:before {
    content: "\e920";
}
.icon-smile2:before {
    content: "\e921";
}
.icon-mail-share:before {
    content: "\e918";
}
.icon-pinterest-share:before {
    content: "\e919";
}
.icon-calendar:before {
    content: "\e633";
}
.icon-file:before {
    content: "\e634";
}
.icon-facebook-share:before {
    content: "\e635";
}
.icon-twitter-share:before {
    content: "\e636";
}
.icon-file-pdf:before {
    content: "\e637";
}
.icon-star-empty:before {
    content: "\e638";
}
.icon-spinner:before {
    content: "\e639";
}
.icon-star-half-full:before {
    content: "\e63a";
}
.icon-star:before {
    content: "\e63b";
}
.icon-star-full:before {
    content: "\e63b";
}
.icon-list:before {
    content: "\e63c";
}
.icon-fullscreen-alt:before {
    content: "\e63d";
}
.icon-location:before {
    content: "\e63e";
}
.icon-icon-checkbox-unchecked:before {
    content: "\e63f";
}
.icon-checkbox-unchecked:before {
    content: "\e640";
}
.icon-menu:before {
    content: "\e641";
}
.icon-arrow-up-right:before {
    content: "\e642";
}
.icon-new-window:before {
    content: "\e643";
}
.icon-google-plus:before {
    content: "\e644";
}
.icon-google-plus-2:before {
    content: "\e645";
}
.icon-google-plus-3:before {
    content: "\e646";
}
.icon-google-plus-share:before {
    content: "\e647";
}
.icon-thumbs-up:before {
    content: "\e648";
}
.icon-thumbs-up-2:before {
    content: "\e649";
}
.icon-flag:before {
    content: "\e64a";
}
.icon-smiley:before {
    content: "\e64b";
}
.icon-camera-2:before {
    content: "\e64c";
}
.icon-youtube-play:before {
    content: "\e64d";
}
.icon-comite-seal:before {
    content: "\e93c";
}
.icon-quotes-icon:before {
    content: "\e938";
}
.icon-article-2:before {
    content: "\e937";
}
.icon-likes:before {
    content: "\e935";
}
.icon-revision:before {
    content: "\e936";
}
.icon-view:before {
    content: "\e934";
}
.icon-thumbsup-star:before {
    content: "\e932";
}
.icon-logo:before {
    content: "\e933";
}
.icon-zoom_in:before {
    content: "\e931";
}
.icon-lightbulb-full:before {
    content: "\e930";
}
.icon-locate-light:before {
    content: "\e92f";
}
.icon-bubble-empty:before {
    content: "\e92d";
}
.icon-calendar-full:before {
    content: "\e92e";
}
.icon-user-circle:before {
    content: "\e92b";
}
.icon-profesional-agenda:before {
    content: "\e92c";
}
.icon-edit:before {
    content: "\f044";
}
.icon-exclamation-circle:before {
    content: "\f06a";
}
.icon-cam:before {
    content: "\e926";
}
.icon-contact-mail:before {
    content: "\e927";
}
.icon-appointment-bubble:before {
    content: "\e91b";
}
.icon-linkedin-share:before {
    content: "\e916";
}
.icon-whatsapp-share:before {
    content: "\e917";
}
.icon-promo:before {
    content: "\e906";
}
.icon-question-bubble:before {
    content: "\e907";
}
.icon-featured2:before {
    content: "\e908";
}
.icon-business-man:before {
    content: "\e909";
}
.icon-comment-form:before {
    content: "\e903";
}
.icon-phone-form:before {
    content: "\e904";
}
.icon-request-bubble:before {
    content: "\e660";
}
.icon-videocall-bubble:before {
    content: "\e661";
}
.icon-ofertaPermanente:before {
    content: "\e65f";
}
.icon-tag:before {
    content: "\f02b";
}
.icon-tags:before {
    content: "\f02c";
}
.icon-money:before {
    content: "\f0d6";
}
.icon-user2:before {
    content: "\f007";
}
.icon-trash-o:before {
    content: "\f014";
}
.icon-lock:before {
    content: "\f023";
}
.icon-pencil:before {
    content: "\f040";
}
.icon-exclamation-triangle:before {
    content: "\f071";
}
.icon-shopping-cart:before {
    content: "\f07a";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-desktop:before {
    content: "\f108";
}
.icon-location-arrow:before {
    content: "\f124";
}
.icon-unlock-alt:before {
    content: "\f13e";
}
.icon-share-alt2:before {
    content: "\f1e0";
}
.icon-toggle-off:before {
    content: "\f204";
}
.icon-toggle-on:before {
    content: "\f205";
}
.icon-camera:before {
    content: "\e600";
}
.icon-bubble:before {
    content: "\e601";
}
.icon-plus-alt:before {
    content: "\e602";
}
.icon-minus-alt:before {
    content: "\e603";
}
.icon-x:before {
    content: "\e604";
}
.icon-icon-arrow-up:before {
    content: "\e605";
}
.icon-icon-arrow-right:before {
    content: "\e606";
}
.icon-icon-arrow-left:before {
    content: "\e607";
}
.icon-icon-arrow-down:before {
    content: "\e608";
}
.icon-zoom-in:before {
    content: "\e609";
}
.icon-zoom-out:before {
    content: "\e60a";
}
.icon-th-large:before {
    content: "\e60b";
}
.icon-wrench:before {
    content: "\e60c";
}
.icon-featured:before {
    content: "\e60d";
}
.icon-bubbles:before {
    content: "\e60e";
}
.icon-facebook-2:before {
    content: "\e60f";
}
.icon-facebook:before {
    content: "\e610";
}
.icon-twitter-2:before {
    content: "\e611";
}
.icon-twitter:before {
    content: "\e612";
}
.icon-linkedin:before {
    content: "\e613";
}
.icon-heart:before {
    content: "\e614";
}
.icon-heart-empty:before {
    content: "\e615";
}
.icon-grid:before {
    content: "\e616";
}
.icon-rss:before {
    content: "\e617";
}
.icon-check:before {
    content: "\e618";
}
.icon-trash:before {
    content: "\e619";
}
.icon-plus:before {
    content: "\e61a";
}
.icon-minus:before {
    content: "\e61b";
}
.icon-list-2:before {
    content: "\e61c";
}
.icon-checkmark:before {
    content: "\e61e";
}
.icon-x-altx-alt:before {
    content: "\e61f";
}
.icon-star-3:before {
    content: "\e620";
}
.icon-warning-sign:before {
    content: "\e621";
}
.icon-bookmark:before {
    content: "\e622";
}
.icon-envelope:before {
    content: "\e623";
}
.icon-alarm:before {
    content: "\e624";
}
.icon-facetime-video:before {
    content: "\e625";
}
.icon-play-sign:before {
    content: "\e626";
}
.icon-film:before {
    content: "\e627";
}
.icon-arrow-up-2:before {
    content: "\e628";
}
.icon-arrow-right-2:before {
    content: "\e629";
}
.icon-arrow-up-3:before {
    content: "\e62a";
}
.icon-arrow-down-3:before {
    content: "\e62b";
}
.icon-calendar-empty:before {
    content: "\e62c";
}
.icon-logout:before {
    content: "\e62d";
}
.icon-home:before {
    content: "\e62e";
}
.icon-microphone:before {
    content: "\e62f";
}
.icon-credit:before {
    content: "\e630";
}
.icon-share-alt:before {
    content: "\e631";
}
.icon-picture:before {
    content: "\e632";
}
.icon-phone:before {
    content: "\e61d";
}
.icon-mail-send:before {
    content: "\e928";
}
.icon-heart2:before {
    content: "\e929";
}
.icon-money2:before {
    content: "\e92a";
}
.icon-client:before {
    content: "\e925";
}
.icon-business-man2:before {
    content: "\e923";
}
.icon-users:before {
    content: "\e924";
}
.icon-download-mobile:before {
    content: "\e922";
}
.icon-linear-book:before {
    content: "\e91d";
}
.icon-avatar-foro:before {
    content: "\e91c";
}
.icon-article:before {
    content: "\e911";
}
.icon-catalog:before {
    content: "\e912";
}
.icon-community2:before {
    content: "\e913";
}
.icon-home2:before {
    content: "\e914";
}
.icon-inspiration:before {
    content: "\e915";
}
.icon-company-access:before {
    content: "\e90d";
}
.icon-user-access:before {
    content: "\e90e";
}
