a {
    display: block;
    text-decoration: none;
    color: $primary;
    cursor: pointer;
    @include prefix('transition', '0.1s ease');

    @include media(tablet) {
        &:hover {color: $d_primary;}
    }
}

.link-all {
    font-size: $f-m;
    margin: 0 auto;
    color: $l_primary;
    @include media(tablet) {
        font-size: $f-l;
        margin-top: $s-xxl;
    }
}