/* HAMBGURGUER ****************************/
.hamburguer {
    width: 30px;
    height: 100%;
    cursor: pointer;
    transform: rotate(0deg);
    will-change: transform, left;
    @include position(absolute, left 0 top 0);
    @include prefix('transition', '.5s transform, .2s left ease-in-out', moz webkit ms o);

    span {
        display: block;
        height: 3px;
        width: 19px;
        border-radius: 25%;
        background: $neutral_1;

        &:first-child {@include position(absolute, right 0 top 13px);}
        &:nth-child(2), &:nth-child(3) {@include position(absolute, right 0 top 19px);}
        &:last-child {@include position(absolute, right 0 top 25px);}
    }
}

/* PILL **********************************/
.pill {
    display: block;
    border-radius: $s-s;
    height: 75px;
    position: relative;
    @include hover-effect(transparent, $light-hover);
    @include media(tablet) {height: 125px;}

    img {
        object-fit: cover;
        border-radius: $s-s;
        height: 100%;
        width: 100%;
    }

    h2, h3, h4 {
        color: $grey-dark_1;
        text-align: left;
        font-weight: 400;
        position: absolute;
        left: 9%;
        top: 13%;
        max-width: 60%;
        @include media(tablet) {
            font-size: $f-ml;
            top: 20%;
        }
    }
}

/* TOP ITEM *****************************/
.top-item {
    text-align: left;
    margin-bottom: $s-l;
    @include flexbox();
    @include media(tablet) {
        margin-bottom: $s-xxxl;
        @include align-items(baseline);
    }

    span {
        font-size: $f-sl;
        color: $primary;
        min-width: $s-xl;
        text-align: center;
    }

    h2, h3, h4 {
        a {
            font-weight: 400;
            color: $text;
            @include ellipsis-multiline(15, 1.2, 2, 0);
            @include media(tablet) {
                @include ellipsis-multiline(18, 1.2, 2, 0);
            }
        }
    }

    p {
        font-size: $f-xs;
        font-weight: 300;
        margin: $s-s 0 0;
        color: $text-light-gray;
        @include media(tablet) {
            font-size: $f-s;
        }
    }
}

/* LIST ITEM **************************/
.list-item {
    padding: 10px $s-l;
    margin-bottom: $s-xs;
    border-radius: 6px;
    background-color: $white;
    border: 1px solid $border;
    color: $text;
    font-weight: 300;
    @include media(tablet) {
        font-size: $f-l;
        color: $l_primary;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: $s-ss 0;
    }
}


/* SCROLL WRAPPER **************************/
.scroll-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    @include flexbox();
    @include scrollbar();

    &.only-mobile {
        @include media(tablet) {
            padding: 0;
            overflow: visible;
            @include flex-wrap(wrap);
            @include justify-content(center);
        }
    }
}

/* RRSS (FOLLOW US) *****************************/
.rrss {
    @include flexbox();
    @include align-items(center);
    span {
        color: $text-heading-l;
        font-weight: 600;
    }
    a {margin-left: $s-s;}
}

/* WARNING BOX *********************************/
.warning {
    border-radius: 4px;
    background-color: $bg-warning;
    border: 1px solid $border_warning;
    color: $title-warning;
    font-size: $f-xs;
    font-weight: 300;
    padding: 9px;
    letter-spacing: -0.13px;
    line-height: 16px;
    @include flexbox();
    @include media(tablet) {
        @include align-items(center);
    }

    img {
        width: 23px;
        height: 23px;
        margin-right: $s-s;
    }
}

/* BADGE. yellow star icon + blue text ***************/
.badge {
    color: $secondary;
    font-weight: 600;
    .icon-star {
        color: $accent_secondary;
        margin-right: 6px;
    }
}

/* AUTHOR BOX ************************************/
.author-box {
    .img {
        height: 65px;
        width: 65px;
        min-width: 65px;
        margin-right: 12px;
        border-radius: 3px;
        border: 1px solid $border;
    }

    .name {
        font-weight: 600;
        color: $text-heading;
        @include ellipsis-multiline(16, 1.3, 3, 0);
        @include media(tablet){&:hover {text-decoration: underline;}}
    }

    .population {@include ellipsis-multiline(14, 1.3, 2, 0);}
    .stat {
        &:first-of-type {margin-bottom: 2px;}
        [class^=icon-], [class*=" icon-"] {
            color: $neutral_2;
            margin-right: $s-xs;
        }
        .num {
            color: $primary;
            font-weight: 600;
        }
    }
    .online {margin: 6px 0 18px;}
    .button-transparent {font-weight: 600;}
}

/* LINK LIST ***********************************/
.link-list {
    padding: 0 $s-m;
    li {
        position: relative;
        &:not(:last-child) {margin-bottom: $s-ml;}
        &:before {
            content: "\2022";
            color: $text-heading-l;
            font-weight: bold;
            font-size: $f-sl;
            @include position(absolute, left -18px top 2px);
        }
        a {
            font-weight: 600;
            @include ellipsis-multiline(16, 1.3, 2, 10);
            @include media(tablet) {
                @include ellipsis-multiline(16, 1.8, 2, 10);
            }
        }
    }
}

/* BENEFITS - used in qanda ********************/
.benefits {
    margin-bottom: 10px;
    @include media(tablet) {
        padding: $s-ll 0;
        .item {
            @include flex-direction(row);
            @include justify-content(center);
            margin: 0;
        }
    }

    img {
        height: 38px;
        width: 38px;
        margin-bottom: $s-s;
        @include media(tablet){
            margin-bottom: 0;
            margin-right: $s-s;
        }
    }

    span {
        font-size: 24px;
        font-weight: 600;
        color: $secondary;
        @include media(tablet){margin-right: $s-s;}
    }
}
/* Premium TAGS*/
.premium-tag{
    position: relative;
    &:before{
        @include triangle($secondary, up, 32px);
        transform: rotate(-45deg);
        top: -6px;
        left: -22px;
    }
    &:after{
        font-family: "icomoon";
        color: $white;
        @include pseudo($content: '\e63b');
        top: 4px;
        left: 4px;
    }
}
.tag-discount{
    background-color: $l_accent;
    display: inline-block;
    padding: 4px $s-s;
    color: $white;
    border-radius: 6px;
    font-size: $f-xs;
}