.ie-article-card {
    padding-top: 42px;
    @include media(tablet) {padding-top: 0;}

    .col-layout {
        @include media(tablet) {padding-top: 36px;}
        .main-col {
            .content {
                padding: $s-ml;
                @include media(tablet) {
                    border-radius: 8px;
                    padding: $s-xxl;
                }
                .review-box {
                    color: $text-heading;
                    background-color: $bg-layout;
                    border-radius: 6px;
                    padding: $s-m;
                    margin: $s-m 0;
                    @include flexbox();
                    @include media(tablet) {}

                    p {line-height: 18px;}
                    img {
                        width: 18px;
                        height: 18px;
                        margin-right: $s-s;
                    }
                    a {
                        font-weight: 600;
                        display: inline;
                    }
                }
                .context {
                    color: $text-heading-l;
                    font-weight: 300;
                    margin: $s-m 0 $s-ss;
                    .time {font-weight: 600;}
                    @include media(tablet){display: inline-block;}
                }

                .topic {
                    margin-bottom: $s-m;
                    @include media(tablet){display: inline-block;}
                }

                .img {
                    border-radius: 6px;
                    margin-bottom: $s-ll;
                }

                .body {
                    //Reset styles for Tiny editor (used to write article content)
                    p, strong, span, h1, h2, h3, h4, h5, ol li, ul li {color: $text-medium;}

                    h2, h3, h4, h5 {
                        margin: $s-xxxl 0 $s-m;
                        color: $text-heading;
                    }
                    h2, h2 strong {
                        font-size: 32px;
                        font-weight: 800;
                        line-height: 38px;
                    }
                    h3, h3 strong {
                        font-size: 28px;
                        line-height: 28px;
                    }
                    h4, h4 strong {
                        font-size: 24px;
                        line-height: 24px;
                    }
                    h5, h5 strong {
                        font-size: 20px;
                        line-height: 24px;
                        font-weight: 600;
                    }

                    a {display: inline;}
                    p {margin: 10px 0;}
                    p, strong, span {@extend .body-text;}
                    img {margin: $s-ss 0 $s-xl;}
                    ol li {list-style-type: decimal;}
                    ul li {list-style-type: disc;}
                    ol, ul {
                        padding-left: $s-ml;
                        li {margin-bottom: $s-l;}
                    }
                    blockquote {
                        font-family: Georgia, "Times New Roman", Times, serif;
                        font-style: italic;
                        font-size: $f-l;
                        color: $text-title;
                        line-height: 30px;
                        padding: $s-xs $s-ss $s-xs $s-ml;
                        margin: $s-m 0;
                        background-image: url("https://www.mundopsicologos.com/img/web/icons/blockquotebg.svg");
                        background-position: top left;
                        background-repeat: no-repeat;
                        @include media(tablet) {

                        }
                    }
                }

                .light-text {margin: $s-xxl 0;}
                .author {
                    text-align: center;
                    border-top: 1px solid $border;
                    border-bottom: 1px solid $border;
                    padding: $s-xxl 0 $s-m;
                    img {
                        width: 75px;
                        height: 75px;
                        margin: 0 auto $s-m;
                        @include media(tablet) {
                            margin: 0 $s-l 0 0;
                        }
                    }

                    .actions {
                        @include flexbox();
                        @include justify-content(space-evenly);
                        margin-bottom: $s-l;
                        @include media(tablet) {
                            margin: $s-s 0 0;
                            @include justify-content(flex-start);
                            li:first-of-type {margin-right: 24px;}
                        }

                        button {
                            font-size: $f-s;
                            font-weight: 400;
                            text-align: center;
                        }
                    }

                    @include media(tablet) {
                        @include flexbox();
                        @include align-items(center);
                        padding: $s-xl 0;
                        div {
                            text-align: left;
                            .page-ttl.sub.black {margin: $s-s 0 0;}
                        }
                    }
                }
            }

            .comment-box {
                margin-top: $s-xxl;
                .page-ttl.sub {
                    padding-left: $s-ll;
                    @include media(tablet){padding-left: 0;}
                }
                .bg-neutral { @include media(tablet) {border-radius: 8px;} }
            }

            .comments {
                padding: $s-ml;
                .page-ttl.sub span {color: rgba($text-heading-l, .6);}
                @include media(tablet) {
                    border-radius: 8px;
                    .page-ttl.sub {margin: 12px 0;}
                }

                .body {margin: $s-m 0 $s-xxl;}
            }
        }

        .right-fixed-col {
            padding: $s-xl $s-m 0;
            @include media(tablet) {padding: $s-m $s-m 0;}
            .rrss {
                display: none;
                @include media(tablet) {@include flexbox();}
            }
            .related .card.dk-mini {padding-bottom: 16px;}
        }
    }

    .companies {
        padding: $s-xl $s-m;
        @include media(tablet) {
            .page-ttl.sub.center {
                font-size: $f-mxl;
                max-width: 660px;
                margin: $s-xxl auto $s-ss;
            }
        }

        .swiper-container {
            @include media(tablet) {padding: $s-m 40px;}
            .swiper-button-prev,
            .swiper-button-next {background-color: $bg-layout;}
        }

        .swiper-wrapper {
            padding: $s-xs 38px;
            @include media(tablet) {padding: $s-xs;}
            .pro-card {
                width: 210px;
                min-width: 210px;
                height: 255px;
                margin-right: $s-ml;
                @include media(tablet) {
                    width: 210px;
                    min-width: 210px;
                }
            }
        }
    }

    .sections-nav {
        @include media(tablet) {padding-left: 54px;}
    }
}