.ie-articles {
    padding-top: $s-xxxl;
    .wrapper {position: relative;}
    .card.card-layout.mb-full {
        margin-bottom: $s-ss;
        @include media(tablet) {
            float: right;
            width: 300px;
            &.dk-main {
                float: left;
                width: calc(100% - 320px);
            }
        }
    }
    @include media(tablet) {
        padding-top: 0;
        h1.page-ttl {padding: $s-xxl 0 0;}
    }

    .listing {
        width: 100%;
        background-color: $white;
        padding: $s-xxl $s-m $s-xxxl;

        .list {
            .card {
                margin: 0 auto $s-s;
                max-width: 450px;
                @include media(tablet) {
                    margin: 0;
                    max-width: none;
                    &:not(:first-child) {
                        border-top: 1px solid $border;
                    }
                }
            }
            @include media(tablet){
                background-color: $white;
                border: 1px solid $border;
                border-radius: 8px;
                padding: 0 $s-xxl;
            }
        }
        @include media(tablet){
            float: left;
            width: calc(100% - 320px);
            background-color: $bg-layout;
            padding: 0;
        }
    }

    .comite {
        background-color: $white;
        padding: $s-m $s-ll $s-ml;
        .pro {
            margin: 0 auto $s-m;
            max-width: 285px;
        }
        @include media(tablet) {
            background-color: transparent;
            width: 300px;
            padding: 0 $s-m $s-xl;
            @include position(absolute, top 475px right 0);
        }

        .link-all {
            text-align: center;
            margin: $s-ml auto 0;
        }
    }

    .featured {
        text-align: center;
        padding: $s-xxl $s-m $s-ml;
        width: 100%;
        float: left;
        clear: both;
        .card {
            margin: 0 auto $s-s;
            max-width: 450px;
            @include media(tablet) {
                margin: 0 2% 2%;
                max-width: 325px;
            }
            @include media(desktop) {
                margin: 0 0 2%;
            }
        }

        @include media(tablet) {
            padding: 62px 0 $s-ml;
        }

        .flex-wrapper {
            @include media(tablet) {
               @include justify-content(center);
            }
            @include media(desktop) {
                @include justify-content(space-between);
            }
        }
    }
}