.company-card{
    h1{
        font-size: $f-xl;
        line-height: $f-xl;
        text-align: center;
        margin-top: $s-m;
        @include media(tablet) {
            text-align: left;
            margin-top: 0;
        }
    }
    h2{
        font-size: $f-l;
        line-height: $f-sl;
    }
    h3{
        margin-bottom: 0;
        font-size: $f-m;
    }
    .card{
        .header.flex{
            &.start{
                display: block;
                @include media(tablet) {
                    display: flex;
                }
            }
        }
        .recommended{
            div{
                width: 100%;
                margin: 0 auto; 
                text-align: center;
                a{
                    font-size: 13px;
                }
                @include media(tablet) {
                    margin:0 $s-m 0 0; 
                    text-align: left;
                    width: auto;
                }
            }
            .rating{
                margin-bottom: $s-xs;
                width: 66px;
                float: inherit;
                overflow: hidden;
                @include media(tablet) {
                    margin-bottom: 0; 
                    float: left;
                }
            }
        }
    }
    .item{
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        background-color: $white;
        @include media(tablet) {
            border-radius: 3px;
            border: 1px solid $border;
        }
        .image-box img{
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 1px solid $border;
            margin: 0 auto;
            @include media(tablet) {
                width: 151px;
                height: 151px;
                margin: 0; 
            }
        }
        &.card{
            .image-box{
                height: auto;   
                width: 100%;
                margin: 0 auto; 
                border: none;
                @include media(tablet) {
                    width: 176px;
                    margin: 0; 
                }
            }
            .info-box{
                width: 100%;
                @include media(tablet) {
                    width: calc(100% - 176px);
                }
            }
        }
    }
    .bottom-box{
        .h-label{
            display: block;
            text-align: center;
            width: 100%;
            color: $neutral_2;
            font-size: $f-m;
            line-height: 48px; 
            @include media(tablet) {
                float: left;
                text-align: left;
                margin-left: $s-m;
            }

        }
        .call-to-actions{
            display: block;
            @include media(tablet) {
                display: flex;
            }
            button{
                min-width: 160px;
                margin: 0 auto;
            }
        }
    }
    .multimedia-box{
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        padding: $s-m;
        .media-item{
            position: relative;
            width: calc(100% / 3);
            padding: 4px;
            .media_item{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .zoom{
                position: absolute;
                top: 16px;
                right: 16px;
                color: $white;
            }
        }
    }
    .service-box{
        li{
            border-bottom: 1px solid $border;
            &:last-child{
                border: none;
            } 
            div{
                width: calc(100% - 200px);
                &:last-child{
                    width: 200px;
                }
            }
        }
    }
    .form-box{
        form{
            fieldset{
                @include media(tablet) {
                    max-width: 400px;
                    margin: $s-m auto;
                }
            }
            .warning{
                @include media(tablet) {
                    max-width: 400px;
                    margin: $s-m auto;
                }
            }
        } 
    }
    .sidebar{
        @include media(tablet) {
            float: right;
            width: 300px;
        }
    }
    &.ie-articles{
        .listing{
            padding: 0;
            background-color: transparent;
            @include media(tablet) {
                padding: $s-xxl $s-m $s-xxxl;
            }
        }
    }
    .card-items{
        h2{
            margin-left: $s-m;
            @include media(tablet) {
                margin-left: 0;
            }
        }
    }
}