.ie-home {

    .subttl {
        margin: $s-m auto $s-ml;
        @include media(tablet) {margin: $s-l auto $s-xxxl;}
    }

    section {
        text-align: center;
        padding: $s-xxl $s-m 0;
        &:last-child {
            padding: $s-xxl $s-m;
            @include media(tablet) {
                padding: 5% 5% 8%;
            }
        }

        @include media(tablet) {padding: 5%;}
        &:first-child {padding: $s-xxl $s-m;}
        &:nth-child(2) {
            @include media(tablet) {
                max-width: 1600px;
                margin: 0 auto;
            }
        }
    }

    .home-qanda {
        @include media(tablet) {
            background-image: linear-gradient($white 0%, #F5F7F8 30%, #F5F7F8 100%);
            .wrapper {
                background-color: $white;
                border-radius: 10px;
                padding: 40px 40px 0;
                @include flexbox();
                @include flex-wrap(wrap);
                @include justify-content(space-between);
                li {
                    width: 48%;
                    width: calc(50% - 20px);
                }
            }
        }
    }

    .home-population {
        .wrapper {
            max-height: 210px;
            margin: 0 auto $s-s;
            overflow: hidden;
            @include prefix('transition', '.3s ease-in-out', moz webkit ms o);
            @include media(tablet) {
                @include flexbox();
                @include flex-wrap(wrap);
                max-height: none;
                margin: 0 auto $s-xxl;
                li {
                    width: 33%;
                }
            }
        }

        .link-all:last-child {display: none;}
        @include media(tablet) {
            .link-all {display: none;}
            .link-all:last-child {display: block;}
        }
    }

    .home-comite {
        padding: $s-xxl 0 0;
        position: relative;
        @include media(tablet) {
            overflow: hidden;
            &:before {
                content: url("https://www.mundopsicologos.com/site/own/sello-expertos-white.svg");
                opacity: .15;
                filter: brightness(60%);
                transform: scale(2.3) rotate(25deg) translateY(-25%);
                @include position(absolute, right 0 top 50%);
                @media (min-width: 1200px) {
                    right: 5%;
                    transform: scale(2.6) rotate(30deg) translateY(-25%);
                }
                @media (min-width: 1600px) {right: 10%;}
            }
        }

        .scroll-wrapper {
            @media(min-width: 1045px){@include justify-content(space-between);}
            .pro-card {
                width: 180px;
                min-width: 180px;
                height: 225px;
                margin-right: $s-s;
                @include media(tablet) {
                    margin-bottom: $s-s;
                    position: relative;
                    z-index: 5;
                }

                @media(min-width: 1045px){margin: 0;}
            }
        }

        @include media(tablet) {
            padding: 5%;
            background-image: linear-gradient($white 0%, #F5F7F8 30%, #F5F7F8 100%);
        }
    }

    .home-articles {
        .flex-wrapper {
            .card {
                margin-bottom: $s-m;
                @include media(tablet) {
                    margin: 0 15px 15px 0;
                }

                @include media(desktop) {
                    margin: 0 0 3% 0;
                }
            }
            @include media(tablet) {@include justify-content(center);}
            @include media(desktop) {@include justify-content(space-between);}
        }
        .link-all {margin: $s-s auto 0;}
    }

    .home-main {
        .link-all {margin: $s-l auto 0;}
    }

    .home-about {
        .wrapper {
            text-align: left;
            margin: $s-ss auto $s-m;
            font-weight: 300;
            color: $text;
            line-height: 20px;
            @include media(tablet) {
                font-size: $f-m;
                text-align: center;
                line-height: 30px;
                margin: $s-ml auto;
            }
        }

        @include media(tablet) {
            padding: 5% 5% 8%;
            @include bg-image($bg-layout, "https://www.mundopsicologos.com/img/web/psico/home-about-bg.jpg");
        }
    }
}