.list{
    .light-text{
        padding-left: $s-m;
        padding-right: $s-m;
        color: $text-heading-l;
        @include media(tablet) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .wrapper{
        @include media(tablet) {
            padding: $s-m;
        }
        @include media(desktop) {
            padding: 0;
        }
    }
    .breadcrumb{
        .wrapper{
            padding: 0;
        }
    }
    .f-20{
        padding-left: $s-m;
        padding-right: $s-m;
        @include media(tablet) {
            font-size: $f-sl;
            padding-left: 0;
            padding-right: 0;
        }
    }
    
}
.list-items{
    .agenda{
        display: none;
        @include media(tablet) {
            display: block;
        }
    }
}