.ie-overview-qanda {
    padding-top: 42px;
    @include media(tablet) {padding-top: 0;}

    section.main {
        @include media(tablet){
            padding: $s-xxl;
            border-radius: 8px;
            border: 1px solid $border;

            h2 {font-size: 28px;}
            form.qanda-form {
                max-width: 580px;
                button {
                    width: auto;
                    min-width: 240px;
                }
            }

            .benefits {
                @include position(absolute, top 130px right 0);
                width: calc(100% - 620px);

                .flex-wrapper {
                    @include flex-direction(column);
                    @include align-items(center);
                }
            }
        }
    }

    section.how-to-wrapper {
        @include media(tablet){
            padding: $s-xxl;
            border-radius: 8px;
            text-align: center;
            border: 1px solid $border;
            margin-bottom: $s-ss;
        }

        .how-to {
            .steps {
                @include media(tablet){
                    @include flex-direction(row);
                    margin-top: $s-xxl;
                }
                .step {
                    margin-bottom: $s-ss;
                    @include align-items(flex-start);
                    @include media(tablet){
                        @include flex-direction(column);
                        @include align-items(center);
                        width: 33%;
                    }
                    .num {
                        color: $text-heading-l;
                        background-color: $neutral_0;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                        padding-left: 9px;
                        margin-right: $s-s;
                        @include media(tablet){
                            font-size: $f-xl;
                            font-weight: 600;
                            width: 38px;
                            height: 38px;
                            margin-right: 0;
                            padding-left: 0;
                            line-height: 38px;
                            margin-bottom: $s-ss;
                        }
                    }

                    p span {
                        font-size: $f-l;
                        font-weight: 600;
                        color: $primary;
                    }
                }
            }
        }
    }

    .listing {
        @include media(tablet) {
            background-color: $bg-layout;
            .last-qanda-listing, .top-qanda-listing {padding: $s-xxxl 0 0;}
            .questions-btn {
                margin: 0 auto;
                width: auto;
            }
        }

        .buttons {
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;
            padding: 0 14px;
            button {
                width: 50%;
                padding: 14px 0;
                &.active {
                    border-bottom: 3px solid $primary;
                    color: $text-heading;
                    font-weight: 600;
                }
            }
        }
    }

    .companies {
        @include media(tablet) {
            background-color: $bg-layout;
            padding: 70px 0 $s-xxxl;
            h2 {color: $text-heading-l;}
        }

        .author-box {
            border-bottom: 1px solid $border;
            padding: $s-m 0;
            &:first-of-type {
                padding: 0 0 $s-ll;
                @include media(tablet){padding: $s-ml;}
            }
            @include media(tablet){
                background-color: $white;
                border-radius: 8px;
                padding: $s-ml;
                border-bottom: 0;
                margin-bottom: $s-ss;
                height: 190px;
            }
        }
    }

    .search {
        @include media(tablet){
            background-color: $bg-layout;
            text-align: center;
        }
    }
}