.ie-qanda-listing {
    padding-top: 42px;
    @include media(tablet) {padding-top: 0;}

    .qanda-header {
        .sub {
            color: $primary;
            font-weight: 600;
            font-size: $f-m;
        }

        h1 {margin: 0;}
        @include media(tablet){
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;
            .wrapper {
                padding: 36px 0 27px;
                position: relative;
                .picture {@include position(absolute, right 0 top 0);}
            }
        }
    }

    .content.bg-white.wrapper {
        .qanda:last-of-type {
            border-bottom: 0;
            margin-bottom: 0;
            @include media(tablet){margin-bottom: $s-ml;}
        }
        @include media(tablet){
            background-color: $bg-layout;
            padding: $s-xl 0 60px;
        }

        .paginator { @include media(tablet){border: 0;} }
    }

    div.form {
        @include media(tablet){
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;
        }

        .form.wrapper {
            @include media(tablet){
                padding: 50px 0;
                text-align: center;
            }

            .benefits {
                display: none;
                @include media(tablet){@include flexbox();}
            }

            form.form {
                margin: $s-ml auto 0;
                @include media(tablet){
                    text-align: left;
                    width: 580px;
                    margin: $s-xll auto;
                    button {width: 300px;}
                }
            }
        }
    }

    section.search {@include media(tablet){padding: 58px 0 $s-ll;}}
    div.search, section.search {
        @include media(tablet){
            background-color: $bg-layout;
            text-align: center;
        }
    }
}