.ie-qanda-home {
    padding-top: 42px;
    @include media(tablet) {padding-top: 0;}

    .benefits {
        padding: 0 $s-m $s-m;
        @include media(tablet){
            padding: $s-xl 0 $s-s;
            border-bottom: 1px solid $border;
            border-top: 1px solid $border;
        }
    }

    section {
        @include media(tablet){
            &.main-wrapper {
                background-color: $white;
                padding: 58px 0;
                .picture {
                    width: calc(100% - 580px);
                    margin: $s-xxl 0 0 $s-xl;
                    min-width: 260px;
                }
            }
            &.wrapper {padding-top: 60px;}
        }
    }

    .main {
        padding: $s-m $s-m 0;
        @include media(tablet){
            padding: 0;
            width: 580px;
            h1 {font-size: 52px;}
            .qanda-form {
                margin-bottom: $s-xxxl;
                padding: $s-xxl;
                .w-100 {
                    width: auto;
                    min-width: 240px;
                }
            }
        }
    }

    .how-to {
        padding: $s-xxl $s-m $s-m;
        @include media(tablet){
            text-align: center;
            padding: 0 0 60px;
            .flex-col {@include flex-direction(row);}
            h2 {margin-bottom: $s-xxl;}
        }

        .how-to-steps {
            .step {
                margin-bottom: $s-ss;
                @include align-items(flex-start);
                @include media(tablet){
                    @include flex-direction(column);
                    @include align-items(center);
                    width: 33%;
                }
                .num {
                    color: $text-heading-l;
                    background-color: $neutral_0;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    padding-left: 9px;
                    margin-right: $s-s;
                    @include media(tablet){
                        font-size: $f-xl;
                        font-weight: 600;
                        width: 38px;
                        height: 38px;
                        margin-right: 0;
                        padding-left: 0;
                        line-height: 38px;
                        margin-bottom: $s-ss;
                    }
                }

                p span {
                    font-size: $f-l;
                    font-weight: 600;
                    color: $primary;
                }
            }
        }
    }

    .listing {
        margin-bottom: 10px;
        @include media(tablet) {background-color: $bg-layout;}
        .buttons {
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;
            padding: 0 14px;
            button {
                width: 50%;
                padding: 14px 0;
                &.active {
                    border-bottom: 3px solid $primary;
                    color: $text-heading;
                    font-weight: 600;
                }
            }
        }

        .top-qanda-listing, .last-qanda-listing {
            padding: $s-m;
            @include media(tablet) {padding: 0;}
        }

        .top-qanda-listing {
            margin-top: 46px;
            .questions-btn {
                margin: 0 auto;
                width: auto;
            }
        }
    }

    .companies {
        padding: $s-m;
        @include media(tablet){
            background-color: $bg-layout;
            padding: 54px 0;
            h2 {color: $text-heading-l;}
        }
        .author-box {
            border-bottom: 1px solid $border;
            padding: $s-m 0;
            &:first-of-type {
                padding: 0 0 $s-ll;
                @include media(tablet){padding: $s-ml;}
            }
            @include media(tablet){
                background-color: $white;
                border-radius: 8px;
                padding: $s-ml;
                border-bottom: 0;
                margin-bottom: $s-ss;
                height: 190px;
            }
        }
    }

    .search {
        padding: $s-m;
        @include media(tablet) {
            background-color: $bg-layout;
            text-align: center;
            form {
                @include flexbox();
                @include align-items(center);
                width: 540px;
                margin: $s-ml auto 70px;
                .search-input {
                    margin: 0 $s-ss 0 0;
                    width: calc(100% - 130px);
                }
                button.m-auto {
                    height: 45px;
                    margin: 0;
                    width: 130px;
                }
            }
        }
    }
}