.ie-qanda-card {
    padding-top: 42px;
    @include media(tablet) {padding-top: 0;}
    section.main {
        @include media(tablet){
            margin-top: $s-xxl;
            border-radius: 8px;
            padding: 36px 40px;
        }
    }

    .answer-form form {
        border-top: 1px solid $border;
        @include media(tablet){border-top: 0;}
        button {min-width: 160px;}
    }

    .share {
        border-top: 1px solid $border;
        padding: 18px 0 0;
        @include media(tablet) {
            border-top: 0;
            padding: 0;
        }
    }

    .best-answer .qanda-card {
        @include media(tablet){margin: $s-ss 0 $s-xxxl;}
    }

    .answers {
        .h3.light { @include media(tablet){padding-left: 0;}}
    }

    .companies {
        @include media(tablet){
            padding: $s-xxl 0 0;
            background-color: $bg-layout;
            h2 {color: $text-heading-l;}
        }
        .author-box {
            margin-bottom: $s-ml;
            padding-bottom: $s-l;
            border-bottom: 1px solid $border;
            @include media(tablet){
                border-bottom: 0;
                background-color: $white;
                border-radius: 8px;
                margin-bottom: $s-ss;
                padding: $s-ml;
                height: 190px;
            }
        }

        .listing-link {
            font-size: $f-m;
            @include media(tablet){margin-top: $s-xxl;}
        }
    }

    .more-qanda {
        @include media(tablet){
            background-color: $bg-layout;
            padding: 80px 0;
            .h2 {color: $text-heading-l;}
            ul {
                background-color: $white;
                border-radius: 8px;
                padding: $s-xxl 40px $s-m 56px;
            }
        }
    }

    .action-container {
        @include media(tablet){
            border-top: 1px solid $border;
            border-bottom: 1px solid $border;
        }

        .benefits {
            display: none;
            @include media(tablet){@include flexbox();}
        }
    }

    section.form {
        form {margin-bottom: 0;}
        @include media(tablet) {
            padding: 80px 0 $s-m;
            text-align: center;
            h2 {font-size: 28px;}
            form {
                width: 560px;
                margin: $s-ml auto;
                text-align: left;
                button.w-100 {width: 300px;}
            }
        }
    }

    .search {
        @include media(tablet){
            padding: 55px 0 $s-ml;
            background-color: $bg-layout;
            text-align: center;
        }
    }
}