
//@include media('tablet-wide'){}
$breakpoints: (
        "phone":        $xs,
        "phone-wide":   $s,
        "tablet":       $m,
        "desktop":      $l,
        "desktop-wide": $xl
);
@mixin media($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}